@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'quickpen';
  src: url('./assets/quickpen.otf') format('opentype');
}

@page {
  size: A6 portrait;
  margin: 0;
}

@media print {
  html, body {
    margin: 0;
    padding: 0;
  }
  .printHide {
    display: none !important;
  }
  .preview {
    position: absolute;
    top: 0;
    left: 0;
  }
}
